# Ignore everything at root except project files
/*
!/.gitignore
!/Dockerfile
!/docker-compose.yml
!/.dockerignore
!/src/
!/src/**
/src/.gradle/
/src/kubectl.exe
/src/Guía*.txt
!/charts/
!/charts/**
!/.github/
!/.github/**
!/docs/
!/docs/**
/docs/verification.md
!/README.md
!/k8s/
!/k8s/**
